<!DOCTYPE html>
<html>
<head>
  <title>ApexCore :: Validation Error</title>
  <link rel="stylesheet" href="/static/_legacy.css">
</head>
<body>
<table class="chrome"><tr><td class="header">ApexCore &trade; - Open Sub-Account</td></tr></table>
<table class="content"><tr><td>
  <div id="ctl00_MainContent_pnlValidationError" class="errorbox">
    <span id="ctl00_MainContent_lblValidationError">{{ message }}</span>
  </div>
  <p><a class="navlink" href="/portal/sub-account/new?member_id={{ member.member_id }}">&laquo; Back to form</a></p>
</td></tr></table>
<div class="footer-legacy">ApexCore Servicing Platform - Internal Use Only - Build 4.2.1108</div>
</body>
</html>
